
$gradient-button:linear-gradient(65deg, var(--c1, rgba(136, 229, 232, 1)), var(--c2, rgba(247, 209, 210, 1)) 83.25%, var(--c1, rgba(136, 229, 232, 1))) var(--x, 0)/ 150%;
$gradient-opaque:linear-gradient(47.5deg, #88E5E8 15.75%, #F7D1D2 83.27%);
$gradient-fade: linear-gradient(47.5deg, rgba(136, 229, 232, 0.5) 15.75%, rgba(247, 209, 210, 0.5) 83.27%);
$black:#2C2827;